# Configuración del Servidor Express
PORT=3000
NODE_ENV=development

# Configuración de Firebase (NoSQL - Orders API)
FIREBASE_PROJECT_ID=tu_firebase_project_id
FIREBASE_CLIENT_EMAIL=tu_firebase_client_email
FIREBASE_PRIVATE_KEY=tu_firebase_private_key
