# Ignora archivos de variables de entorno en cualquier carpeta
.env
.env.local
.env.*.local

# Ignora archivos de registro/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# CONFIGURACIÓN NODE.JS (orders-api)
**/node_modules/
**/permissions/

# CONFIGURACIÓN PYTHON/DJANGO (catalog-api)
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/.venv/
**/venv/
**/ENV/

# Bases de datos locales
**/*.sqlite3
