# Configuración de Django
SECRET_KEY=tu_secret_key_desarrollo_aqui
DEBUG=True

# Configuración de la Base de Datos PostgreSQL (Solo para catalog-api)
DB_NAME=coupage_db
DB_USER=postgres
DB_PASSWORD=tu_contrasena_postgres_local
DB_HOST=127.0.0.1
DB_PORT=5432

# Configuración de Superusuario (para python manage.py createsuperuser --noinput)
DJANGO_SUPERUSER_USERNAME=tu_usuario_admin
DJANGO_SUPERUSER_EMAIL=admin@ejemplo.local
DJANGO_SUPERUSER_PASSWORD=tu_contrasena_superusuario
